* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(146, 209, 132);
}

.title h1 {
    margin: 20px;
    text-align: center;
    font-size: 2rem;
}

.main-con {
    height: 65vh;
    margin-top: 50px;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main2 {
    height: 75vh;
    display: block;
}


.container {
    height: 20vh;
    width: 60vmin;
    display: flex;
   
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
}

.box {
    height: 18vh;
    width: 18vh;
    background-color: rgb(106, 125, 171);
    border-radius: 2rem;
    border: none;
    font-size: 4rem;
    color: brown;
}

.reset-btn {
    display: flex;
    justify-content: center;
}
.reset-btn button {
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 1rem;
    background-color: rgb(53, 53, 53);
    color: aqua;
}

.result {
    height: 5vh;
    text-align: center;
    font-size: 2rem;
    transition-duration: 4s;
}
